.sales-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    width: 100%;
    padding: 0 12.5%;
    height: 150px;
}

.sales-title {
    font-size: 1.2em;
    width: 20%;
}

.description {
    font-size: 1rem;
}