.form {
    width: 30%;
    min-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 8px solid rgb(0, 0, 0, 0.3);
    background-color: #fcd972;
}

h2 {
    text-align: center;
    margin: 30px;
}